name: Docker Build (Buildx Enabled)

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build image (Buildx)
        run: |
          docker buildx build \
            --progress=plain \
            -t go-docker:test .
