name: Docker Build (Buildx + GHA Cache)

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image (with cache)
        run: |
          docker buildx build \
            --progress=plain \
            --cache-from=type=gha \
            --cache-to=type=gha,mode=max \
            -t go-docker:test .
